@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&display=swap');

body{
	background-image: url('./images/levelbackground.jpg');
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
#up{
	padding: 20px;
}

.time{
	font-size: 40px;
	color: white;
	margin: 0;

}
#upper{
	margin: 0px 0px 0px 10px;
}
#putwords{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: #b2b2b2;
  	background-color: rgba(102, 174, 167, .44);
	width: 80%;
	height: 100px;
	position:fixed;
    left:49%;
    top:40%;
    transform: translate(-50%,-50%);
    padding: 10px;
    box-shadow:0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06) ;
    

}
#putwords p{
	
	background-color: orange;
	font-size: 50px;
	font-family: 'Inconsolata', monospace;
	padding: 0px 20px 0px 20px;
	box-shadow: -5px -5px 30px 5px yellow, 5px 5px 30px 5px green;
}

#givenwords{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: #b2b2b2;
  background-color: rgba(102, 174, 167, .44);
	width: 80%;
	height: 100px;
	position:fixed;
  left:49%;
  top:60%;
  transform: translate(-50%,-50%);
  padding: 10px 0px 0px 0px;
}
#givenwords p{
	
	background-color: violet;
	padding: 23px;
	font-size: 50px;
	font-family: 'Inconsolata', monospace;
	padding: 0px 20px 0px 20px;
	box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue
}
#makeword{
	text-align: center;
}

#givenwords p:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  background-color: lightblue;
}

#score{
		top: 75%;
		left: 40%;
		position: fixed;
}

#scoreText{
	font-size: 80px;
	color: white;
}
