
body{
 	
	background-image: url('./images/background_image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center center;
    background-attachment: fixed;
	
}
.fill-button{
    position:fixed;
    left:49%;
    top:35%;
    transform: translate(-50%,-50%);
}
#playbutton{
	border: 10px;
}

